.landing-page {
  width: 100%;
}

.content-container {
  padding: 1rem;
}

.product-container-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.product-container {
  display: flex;
  flex-direction: row;
}